<div style="background-color: #E4EBF5;" class="bannerr">
<h3 style="color:#47143D; letter-spacing: 0.1em;">
  Kognimatrix  is a solution for Kognitwin Grid <br>
  that provides
  a clear picture when it comes to your electricity , <br>
  enabling
  better decisions and a protection against energy frauds.
</h3>
<br>
<h5 style="color:#B99750;letter-spacing: 0.1em;">
  Smart grids are critical to the power industry ,  however they are in a
  risk of several <br>cyber threats , and Kognimatrix is a solution for the same.
</h5>
</div>