<div class="container">
    <div class="card">
        <div class="imgBx">
            <img src="assets/Consumption.png"
                style="width:450px; height:330px" />

        </div>

        <div class="contentBx">
            <a routerLink="/first"> View </a>
        </div>
    </div>

    <div class="card" style="margin-left:20px">
        <div class="imgBx">
            <img src="assets/faults.jpg"
                style="width:550px; height:330px" />


        </div>

        <div class="contentBx">
            <a routerLink="/fault-graph">View</a>
        </div>
    </div>

</div>
