
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-9">
            <div class="options_btn_cnt">
              <button class="btn btn__primary" (click)="imageSource = 'assets/graphs/A.png'" >
                <p>Daily Consumption</p>
              </button>
                <button class="btn btn__primary" (click)="imageSource = 'assets/graphs/B.png'">
                  <p>Weekly Consumption</p>
                </button>
                  <button class="btn btn__primary" (click)="imageSource = 'assets/graphs/C.png'">
                    <p>Month Consumption</p>
                  </button>
            </div>



<img [src]="imageSource" *ngIf="imageSource"/>

            <!-- <div class="row">
              <div class="graphdiv"><app-graph></app-graph></div>
            </div>
          </div>
        </div>
      </div> -->


