<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9">
      <div class="options_btn_cnt">
        <button class="btn btn__primary" (click)="daily()">
          <p>Hourly Consumption</p>
        </button>
        <button class="btn btn__primary" (click)="weekly()">
          <p>Weekly Consumption</p>
        </button>
        <button class="btn btn__primary" (click)="yearly()">
          <p>Monthly Consumption</p>
        </button>
      </div>

      <app-year-graph *ngIf="yearflag"></app-year-graph>
      <app-week-graph *ngIf="weekflag"></app-week-graph>
      <img
        src="assets/graphs/C.png"
        *ngIf="dailyflag"
        height="500px"
        style="width: 100%"
      />
    </div>
    <div class="col-sm-3">
      <div class="btn btn__secondary" *ngIf="yearflag">
        <h2
          class="output_color"
          style="
            color: black;
            font-size: 30px;
            font-weight: 600;
            line-height: 150%;
          "
        >
          Average monthly consumption <br />
          1.6158 M
        </h2>
      </div>
      <div class="btn btn__secondary" *ngIf="weekflag">
        <h2
          class="output_color"
          style="
            color: black;
            font-size: 30px;
            font-weight: 600;
            line-height: 150%;
          "
        >
          Average weekly consumption <br />
          0.3590 M
        </h2>
      </div>
      <div class="btn btn__secondary" *ngIf="dailyflag">
        <h2
          class="output_color"
          style="
            color: black;
            font-size: 30px;
            font-weight: 600;
            line-height: 150%;
          "
        >
          Average hourly consumption <br />
          0.0021 M
        </h2>
      </div>
    </div>
  </div>
</div>
