
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-9">
            <div class="options_btn_cnt">
              <div class="btn btn__primary">
                <p>Daily Consumption</p>
                </div>
                <div class="btn btn__primary">
                  <p>Weekly Consumption</p>
                  </div>
                  <div class="btn btn__primary">
                    <p>Month Consumption</p>
                    </div>
            </div>
            <!-- <div class="row">
              <div class="graphdiv"><app-graph></app-graph></div>
            </div> -->
          </div>
        </div>
      </div>


