
  
  .options_btn_cnt
  {
    display: flex;
  }
  
  /*  BUTTONS  */
  .btn {
    width: 95%;
    /**height: 100%;*/
    border-radius: 1rem;
    
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
    margin:5px;
    border: 2px solid #47143D;
  }
  .btn__primary {
    grid-column: 1/2;
    grid-row: 4/5;
    background: var(--primary);
    border: 2px solid #47143D;
    color: #B99750;
    height:100px;
  }
  .btn__primary:hover {
    background-color: #47143D;
    border: 3px solid #B99750;
    color: #B99750;
  }
  .btn__primary:active {
    border: 2px solid #B99750; 
   }
  .graphdiv {
    grid-column: 1/2;
    grid-row: 5/6;
    color: #B99750;
    height:500px;
    
  }
 
 
  .btn p {
    font-size: 1.6rem;
  }
  
  .graph_cont{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    border: 2px solid #47143D;
  }

  :host {
    --primary-light: #47143D;
    --primary: #B99750;
    --primary-dark: #47143D;
    --white: #FFFFFF;
     /* --greyLight-1: #B99750;
    --greyLight-2: #B99750;
    --greyLight-3: #B99750;
    --greyDark: #B99750;
    ;  */
  }
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  .row_cont{
    margin: auto;
  }
